:root{
    /*o Root aplica para toda a pagina, */ 
    font-family: "Alice", serife;
    line-height: 150%;
}
#bg-image{ 
   background: url(/assets/main-image.png) ;
   background-size: cover;
}


#capa-img{
  margin-top: 24px;
  height: 400px;
  border-radius:16px ;
  


}
#title{
    font-family:"Alice";
    font-weight: 400;
}
#container{

    box-sizing: border-box; /*tira o padrão da caixa, de somar o tamnho final como padding*/
    width: 800px;
    padding: 24px;
    margin: 48px auto;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    background: #F0E8C2;

}

#container2{
    margin: 24px;
}



/* Centraliza a imagem */
#capa-img {
    display: block;
    margin: 0 auto;
}

/* Centraliza o footer */
#footer {
    text-align: center;
    font-family:"Alice";
    font-weight: 400;
    color: #F0E8C2;
    font-size: 16px;;
    margin-top: 20px;
}
h1{
    line-height: 140%;
}
h2{
    font-size: 24px;
    
}
h1,h2{
    color: #291B1A;
}
p{
     color: #573A37;
}